<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DATA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h3>PRIMERA VISTA</h3>
    <div class="form">
        <input type="email" placeholder="Email" id="email_ID">
        <input type="password" placeholder="Contraseña" id="password_ID"">
        <input type="text" placeholder="Código Habilitación" id="codigo_ID">
        <input type="date" name="Fecha_Incial" id="fecha_I">
        <input type="date" name="Fecha_Final" id="fecha_F">
        <button>Submit</button>
    </div>
</body>
</html>